/*  your css code here. If applicable */
 p.para::first-line{
                background-color : #eee;
                color: #00f;
            }
            p.para:nth-child(3){
                background-color : #eee;
                color: #00f;
            }
            .para1{
                font-size: 12px;
            }
            

