/*  your css code here. If applicable */
.para{
                background-color : #eee;
                color: #00f;
            }
.para1{
                font-size: 12px;
            }
            

